<section class="w3l-cover-3">
    <div class="cover top-bottom">
        <div class="container">
            <div class="middle-section text-center">
                <div class="section-width">
                    <p>Araba Auto Showroom'dan Alınır <a href="#"></a>!</p>
                    <h2>Siz Yeter Ki İsteyin...</h2>
                    <div class="most-searches">
                        <h4>En Çok Arananlar</h4>
                        <ul>
                            <li><a href="#link">SUV</a></li>
                            <li><a href="#link">SEDAN</a></li>
                            <li><a href="#link">HATCHBACK</a></li>
                        </ul>
                    </div>
                    <form action="#" class="w3l-cover-3-gd" method="GET">
                        <input type="search" name="text" placeholder="Aradığınız Araç Hakkında" required>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">Otomotiv</option>
                                <option>Suv</option>
                                <option>Sedan</option>
                                <option>Hatchback</option>
                                <option>Jip</option>
                                <option>Motor</option>
                                <option>Scooter</option>
                            </select>
                        </span>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">Ülke Seçimi</option>
                                <option>Türkiye</option>
                                <option>London</option>
                                <option>India</option>
                                <option>Bangladesh</option>
                                <option>Saudi Arabia</option>
                                <option>America</option>
                                <option>Srilanka</option>
                            </select>
                        </span>
                        <button type="submit" class="btn-primary">Ara</button>
                    </form>
                </div>
                <section id="bottom" class="demo">
                    <a href="#bottom"><span></span>İlanlar</a>
                </section>
            </div>
        </div>
    </div>
</section>